* {
    box-sizing: border-box;
    font-family: 'Chivo', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-color: #121725;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    position: relative;
    width: 100%;
}

body::before {
    background: url('../assets/mobile/image-host.jpg');
    content: '';
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: -2;
}

body::after {
    background-color: rgba(18, 23, 37, 0.9);
    content: '';
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: -1;
}

header img {
    margin-bottom: 3.5rem;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0 1.5rem;
    width: 90%;
}

main h1 {
    color: #54E6AF;
    font-size: 1.625rem;
    font-weight: 400;
    line-height: 2.375rem;
    margin-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
}

main h1 span {
    color: #FFFFFF;
}

main p {
    color: #C2CBE5;
    font-size: 0.9375rem;
    line-height: 1.5625rem;
    margin-bottom: 2rem;
    text-align: center;
}

main form {
    order: 2;
}

main form input {
    background-color: #2C344B;
    border: none;
    border-radius: 1.75rem;
    color: #FFFFFF;
    padding: 1rem 2rem;
    width: 100%;
}

main form input::placeholder {
    font-size: 0.875rem;
    line-height: 1.75rem;
    opacity: 0.5;
}

main form .mensagem-erro {
    color: #FB3E3E;
    display: none;
    font-size: 0.75rem;
    margin: 0.5rem 0 0 2rem;
}

main form button {
    background-color: #54E6AF;
    border: none;
    border-radius: 1.75rem;
    color: #121725;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 700;
    margin-top: 1rem;
    padding: 1rem 0;
    transition: background-color 0.3s;
    width: 100%;
}

main form button:hover {
    background-color: #B3FFE2;
}

main .sociais {
    margin-bottom: 3.5rem;
    order: 1;
}

main .sociais ul {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

main .sociais ul li {
    list-style: none;
}

main .sociais ul li img {
    width: 56px;
}

/* Responsividade */

@media screen and (min-width: 768px) {
    body {
        display: initial;
    }

    body::before {
        background: url('../assets/tablet/image-host.jpg');
        background-repeat: no-repeat;
        background-position: right top;
        position: fixed;
    }

    body::after {
        background: url('../assets/desktop/bg-pattern-dots.svg');
        background-repeat: no-repeat;
        width: 48rem;
        height: 64rem;
        position: fixed;
        left: 2.5rem;
        top: 90vh;
    }

    header {
        padding: 3rem 0 0 2.5rem;
    }

    header img {
        margin: 0;
    }

    main {
        background-color: #121725;
        margin: 7rem 0 0 2.5rem;
        padding-top: 5rem;
        width: 40rem;
    }

    main h1 {
        font-size: 3rem;
        line-height: 3.5rem;
        margin-bottom: 2rem;
        text-align: start;
    }

    main p {
        font-size: 1.125rem;
        line-height: 1.75rem;
        margin-bottom: 2.5rem;
        text-align: start;
        width: 70%;
    }

    main form {
        margin-bottom: 4rem;
        order: 1;
        position: relative;
    }

    main form input {
        border: 3px solid #2C344B;
        outline: none;
        width: 27rem;
    }

    main form button {
        left: 16.8125rem;
        margin: 0;
        position: absolute;
        top: 3px;
        width: 10rem;
    }

    main .sociais ul {
        gap: 2.5rem;
        justify-content: start;
    }

    main .sociais ul li img {
        width: 6rem;
    }
}

@media screen and (min-width: 1440px) {
    body::before {
        background: url('../assets/desktop/image-host.jpg');
        background-repeat: no-repeat;
        background-position: right;
    }

    body::after {
        left: 83.5%;
        top: 79%;
    }

    header {
        padding: 6.5rem 0 0 10rem;
    }

    main {
        margin: 6.5rem 0 0 10rem;
        padding-top: 5.5rem;
        width: 45rem;
    }

    main h1 {
        font-size: 3.25rem;
        line-height: 3.875rem;
    }

    main .sociais ul li img {
        width: 8rem;
    }
}